exportClasses(LarsPath)
export(computeCoefficients)
exportMethods(plot)
export(MPA.coef)
export(MPA.cvlars)
export(MPA.fusion)
export(MPA.lars)
export(MPA.simul)
export(plot.coefficient)
export(plot.cv)
export(predict)
useDynLib(MPAlars)
