export(addChipType)
export(addData)
export(callingObject)
export(callingProcess)
export(CNAobjectToCGHcallObject)
export(cnSegCallingProcess)
export(createArchitecture)
export(createEmptyArchitecture)
export(filterSeg)
export(findPlateau)
export(getCopyNumberSignal)
export(getFracBSignal)
export(getGenotypeCalls)
export(getListOfFiles)
export(getSymFracBSignal)
export(HDlarsbivariate)
export(markerSelection)
export(PELT)
export(PELTaroma)
export(peltObject)
export(segFracBSignal)
export(SignalNormalization)
export(signalPreProcess)
export(symmetrizeFracB)
export(variableSelection)
